.banner {
  text-align: left;
  font-size: 16px;
  color:#808B96;
  margin-top: 20px;
  margin-left: 20px;
}

hr {
  position: absolute;
  width: 60px;
  left: 55px;
  top: 60px;
}

.logout-button{
  float: right;
  margin-right: 0.2em;
}
/* 
.header-bar{
  float: right
}
.banner{
  text-align: center;
}


.header{
  padding: 2% 5%;
} */