@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);

* {
  font-family: 'Raleway', sans-serif;
}


.yao {
    position: relative;
    left: 35vw;
}


.landing-page-info {
    /* text-transform: uppercase; */
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    text-align: right;
    margin-top: 0;
    margin-right: 5%;
    font-size: 47px;
    color: #5D6D7E;
}

.spaced-rep-info {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    text-align: left;
    color: #AEB6BF;
    margin-bottom: 20px;
}

.options {
    text-align: right;
}

.login-link, .register-link {
    text-decoration: none;
    font-size: 40px;
    color: #F1C40F;
    animation: moveInUp;
    animation-duration: 5s;
    animation-timing-function: ease-in; 
    line-height: 1.7;
    margin-right: 12%;   
}

.options {
    margin-top: 2rem;
}

.login-link:hover, .register-link:hover {
    color: pink;
}

@keyframes moveInBottom {
    0% {
        opacity: 0; 
        transform: translateY(30px); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}  

@keyframes moveInUp {
    0% {
        opacity: 0; 
        transform: translateY(-100%); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}
/* * {
    box-sizing: border-box;

}
.register{
    display: flex;
    justify-content: center;
}
.register-link {
    text-decoration: none;
}

.home p {
    text-align: center;
}

.home h2{
    text-align: center;
}

.home {
    padding: 5% 0;
}

.yao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
 */
