* {
    box-sizing: border-box;

}
.register{
    display: flex;
    justify-content: center;
}
.register-link {
    text-decoration: none;
}

.home p {
    text-align: center;
}

.home h2{
    text-align: center;
}

.home {
    padding: 5% 0;
}

.yao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

