.image{
  overflow: hidden;
  margin: 2em auto;
  
}

.meme-pics{
  max-width: 100%;
  width: 400px;
  height: 400px;
  box-shadow: 10px 10px 10px grey;

}

#answer {
  width: 20%;
  height: 32px;
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}